<ion-view view-title="">
<ion-content>
<div class="listcard" style="margin-top:40px">
    <div class="item" id="home">
        <ion-item class="animated fadeInLeft" style="padding: 10px">
        <h1 class="home-header">Stylesetter</h1>
        </ion-item>
    </div>
    </ion-item>
    <div class="listcard home">
        <a class="item item-icon-left home animated fadeInRight" style="-webkit-transform: translate3d(80%,0,0);" href="#/app/random">
            <i class="icon ion-android-favorite"></i> Random
        </a>
    </div>
    <div class="listcard home">
        <a class="item item-icon-left home animated fadeInRight" href="#/app/outfits">
            <i class="icon ion-ios-search"></i> Search
        </a>
    </div>
    <div class="listcard home animated fadeInRight" ng-if="loggedIn">
        <a class="item item-icon-left home" href="#/app/upload">
            <i class="icon ion-ios-cloud-upload"></i> Upload
        </a>
    </div>
    <div class="listcard home animated fadeInRight" ng-if="!loggedIn">
        <a class="item item-icon-left home" href="#/app/signup">
            <i class="icon ion-ios-cloud-upload"></i> Sign Up
        </a>
    </div>
</div>
</ion-content>
</ion-view>
</ion-item>