<ion-view view-title="Home">
    <ion-content>
        <div class="listcard" style="margin-top:40px">

            <div class="item">
                <h1 style="opacity: 0.5; text-align: center">Style Judge</h1>
            </div>
            <div class="listcard home" style="margin-top:70px">
                <a class="item item-icon-left home" href="#">
                    <i class="icon ion-android-favorite"></i> Random
                </a>
            </div>

            <div class="listcard home" style="margin-top:50px">
                <a class="item item-icon-left home" href="#">
                    <i class="icon ion-ios-search"></i> Search
                </a>
            </div>

            <div class="listcard home" style="margin-top:50px">
                <a class="item item-icon-left home" href="#">
                    <i class="icon ion-ios-cloud-upload"></i> Upload
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
