<ion-view view-title="Outfits">
  <ion-content width="200px">
    <ion-list>
      <div class="list list-inset">
      <!-- <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" class="searchbar">
      </label> -->

      <div class="list card outfits">
      <ion-item class="animated fadeInLeft">
        <a href="#/app/outfits" class="item item-icon-right">
          <i class="icon ion-chevron-right"></i>
          Job interview
        </a>

        <a href="#/app/outfits" class="item item-icon-right double">
          <i class="icon ion-chevron-right"></i>
          Music festival
        </a>

        <a href="#/app/outfits" class="item item-icon-right">
          <i class="icon ion-chevron-right"></i>
          First date
        </a>

        <a href="#/app/outfits" class="item item-icon-right">
          <i class="icon ion-chevron-right"></i>
          Meeting the parents
        </a>
        <a href="#/app/outfits" class="item item-icon-right">
          <i class="icon ion-chevron-right"></i>
          Wedding guest
        </a>

        <a href="#/app/outfits" class="item item-icon-right">
          <i class="icon ion-chevron-right"></i>
          Traveling
        </a>

        <a href="#/app/outfits" class="item item-icon-right">
          <i class="icon ion-chevron-right"></i>
          Girls night out
        </a>

        <a href="#" class="item item-icon-right">
          <i class="icon ion-chevron-right"></i>
          Gone camping
        </a>
  </ion-item>
      </div>

    </div>
    </ion-list>
  </ion-content>
</ion-view>
