<ion-view view-title="Rate">
<ion-content>
<div class="list card animated fadeIn" style="border-radius: 10px; animation-delay:500ms;">
    <div class="item random">
        <h2><b>Occasion </b>// First date</h2>
    </div>
    <div class="item item-image random">
        <img src="http://media.lily.fi/sites/lily/files/styles/wide/public/user/29989/2016/05/dontdressyoubodytype.jpg">
    </div>
    <a class="item item-icon-left dark" href="#/app/search2">
        <i class="icon ion-heart"></i> Like
    </a>
    <a class="item item-icon-left dark" href="#/app/search2">
        <i class="icon ion-close"></i> Unlike
    </a>
</div>
</ion-content>
</ion-view>