<ion-view view-title="Rate">
    <ion-content>

        <div class="list card">

            <div class="item">
                <h2><b>Occasion:</b> First date</h2>
                <h2><b>Style to go:</b> Web developer gone rock'n roll</h2>
            </div>

            <div class="item item-image">
                <img src="http://media.lily.fi/sites/lily/files/styles/wide/public/user/29989/2016/05/dontdressyoubodytype.jpg" style="max-height: 400px; max-width: 250px; padding-top: 20px; padding-bottom: 20px;">
            </div>



            <a class="item item-icon-left dark" href="#/app/search2">
                <i class="icon ion-heart"></i> Like
            </a>
            <a class="item item-icon-left dark" href="#/app/search2">
                <i class="icon ion-close"></i> Unlike
            </a>

        </div>
    </ion-content>
</ion-view>
