<ion-view view-title="Rate">
<ion-content>
<div class="list card animated fadeIn" style="border-radius: 10px; animation-delay:500ms;">
    <div class="item random">
        <h2><b>Occasion </b>// First date</h2>
    </div>
    <div class="item item-image random">
        <img src="http://media1.popsugar-assets.com/files/2015/01/07/976/n/1922564/350aa5e9bc7f36a0_10809810_389587964534489_1561846972_nVfif4s.xxxlarge/i/All-Black-Never-Boring-When-Worked-Leopard-Oxfords.jpg">
    </div>
    <a class="item item-icon-left dark" href="#/app/search2">
        <i class="icon ion-heart"></i> Like
    </a>
    <a class="item item-icon-left dark" href="#/app/search2">
        <i class="icon ion-close"></i> Unlike
    </a>
</div>
</ion-content>
</ion-view>