<ion-view view-title="Upload your look">
  <ion-content>
    <div class="list">

      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="file" ng-model="file" accept="image/*;capture=camera" name="file" base-sixty-four-input required onload="add" maxsize="500" accept="image/*">
        </label>
        <button class="button button-small" ng-click="upload()">
          Upload
        </button>
      </div>

    </div>
  </ion-content>
</ion-view>
