body {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
}

.pane, .view {
    background-image: url('http://i.istockimg.com/file_thumbview_approve/40271046/3/stock-illustration-40271046-vector-seamless-background-white-geometric-texture-.jpg');

}

.login-page{
  background-color: #A9F5E1;
}

.pane view {
    background-image: url('http://i.istockimg.com/file_thumbview_approve/40271046/3/stock-illustration-40271046-vector-seamless-background-white-geometric-texture-.jpg');

}

.item.item-complex {

}

.search-list {
  margin: 20px;
}

a.item.item-icon-left.home {
  background-color: #04B486;
  color: white;
  box-shadow: 2px 2px 2px gray;
}

a.item.item-icon-left.home:active {
  background-color: mistyrose !important;
}

.outfit-images {
/*margin: 10px;*/
max-width: 100%;
max-height: 100%;
border: 1px solid black;

}

.listcard .home {
  width: 150px;
  margin: 0 auto;
}

.item.item-icon-left.home {
  margin-top: 60px;
}

.item-content {
  padding: 16px 24px 16px 24px !important;
}

body > ion-nav-view > ion-side-menus > ion-side-menu > ion-content > div.scroll > ion-list > div > ion-item > a {
  padding: 16px 49px 16px 16px !important;
}
body > ion-nav-view > ion-side-menus > ion-side-menu-content > ion-nav-view > ion-view > ion-content > div.scroll > ion-list > div > ion-item > a > div > p:nth-child(2) {
  text-align: center;
}
