body {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
}

.pane, .view {
    background: url(../img/kaupunkitausta.jpg);
    /*background-image: url('http://i.istockimg.com/file_thumbview_approve/40271046/3/stock-illustration-40271046-vector-seamless-background-white-geometric-texture-.jpg');*/
    background-size: 100%;
    background-repeat: no-repeat;

}



.item.random {
  border-bottom: 1px solid silver !important;
}


.list.list-inset {
  opacity: 0.8;
}

.ion-chevron-right:before {
  opacity: 0.7;
}

.chat-item.ng-enter-stagger {
  -webkit-animation: fadeInLeft 1s;
  animation: fadeInLeft 1s;
  -webkit-animation-delay:200ms;
  animation-delay:200ms;

  -webkit-animation-duration:0;
  animation-duration:0;
}


.animated.fadeInLeft {
  padding: 0px;
}

.list.card.outfits {
  padding: 0px;
  margin: 0 auto;
}

.item .profile {
  margin: 0 auto;
}

.login-page{
      background-image: url('http://i.istockimg.com/file_thumbview_approve/40271046/3/stock-illustration-40271046-vector-seamless-background-white-geometric-texture-.jpg');
}

.signup-page{
      background-image: url('http://i.istockimg.com/file_thumbview_approve/40271046/3/stock-illustration-40271046-vector-seamless-background-white-geometric-texture-.jpg');
}

.pane view {
    background-image: url('http://i.istockimg.com/file_thumbview_approve/40271046/3/stock-illustration-40271046-vector-seamless-background-white-geometric-texture-.jpg');

}

.change {
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  text-align: center;
}

ion-header-bar {
 background-color: black;
 opacity: 1;

}

.list {
  margin-bottom: 0px;
}

#home {
  opacity: 0.7;
}

.search-list {
  margin: 20px;
}

.home-header {
  opacity: 0.7;
  text-align: center;
  font-size: 3em;
  font-family: 'Maven Pro', sans-serif;
}

a.item.item-icon-left.home {
  background-color: #04B486;
  color: white;
}

.item.item-input-inset.upload {

  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
/*  border-radius: 50px;*/
}

.item.item-input-inset.profile {
  border-radius: 30px !important;
  width: 300px;
  margin: 0 auto;
}

.item.item-icon-left.home:active {
  opacity: 0.5;
}

/*.bar.bar-header {
  border-bottom: 1px solid grey !important;
}*/

.item.item-input {
  border-bottom: 1px solid grey !important;
}

.item.item-icon-left.dark {
  border-top: 1px solid silver !important;
}

/*.item.item-image {
  border-top: 1px solid gray !important;
}*/

/*a:link {
filter: blur(20px);
}*/

.outfit-images {
/*margin: 10px;*/
max-width: 100%;
max-height: 100%;
border: 1px solid black;
}

.buttonsoutfitsearch {
  width: 100%;
}

.animated.fadeIn.looks {
  width: 300px;
  height: 200px;
  margin: 0 auto;
}

#profile {
  padding: 10px;
  margin: 20px;
  display: inline-block;
}

.listcard .home {
  width: 150px;
  margin: 0 auto;
}

.item.item-icon-left.home {
  margin-top: 60px;
  border-radius: 25px;
}

.item-content {
  padding: 16px 24px 16px 24px !important;
}

body > ion-nav-view > ion-side-menus > ion-side-menu > ion-content > div.scroll > ion-list > div > ion-item > a {
  padding: 16px 49px 16px 16px !important;
}
body > ion-nav-view > ion-side-menus > ion-side-menu-content > ion-nav-view > ion-view > ion-content > div.scroll > ion-list > div > ion-item > a > div > p:nth-child(2) {
  text-align: center;
}

.item {
  border: 0px !important;
}

.item.item-image.random {
  max-height: 390px;
  max-width: 100%;
  margin: 20px;
}
/*
 style="max-height: 400px; max-width: 250px; padding-top: 20px; padding-bottom: 20px;"*/
