body {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
}

.pane, .view {
    background-image: url('https://s-media-cache-ak0.pinimg.com/736x/c1/f2/3c/c1f23c342f296278836db3c0387b9b55.jpg');

}

.pane view {
    background-image: url('https://s-media-cache-ak0.pinimg.com/736x/c1/f2/3c/c1f23c342f296278836db3c0387b9b55.jpg');

}

a.item.item-icon-left.home {
  background-color: #2EFE9A;
  color: white;
}

.listcard .home {
  width: 150px;
  margin: 0 auto;
}
